.twtr-widget {
  border: solid 1px #ddd;
  padding: 10px;
  background: url(images/ajax-loader.gif) center no-repeat #f9f9f9;
  font: normal 0.85em/1em helvetica, arial, sans-serif;
  margin: 0 0 20px;
  min-height: 30px; }

.listing {
  width: 500px; }
  .listing .twtr-usr-info {
    background: blue; }

.search {
  width: 350px; }
  .search .twtr-usr-info {
    background: #21bf75; }

.twtr-usr-info {
  color: white;
  position: relative;
  padding: 10px; }
  .twtr-usr-info h3, .twtr-usr-info h4 {
    margin: 0 0 0 50px;
    padding: 0;
    line-height: 1em; }
  .twtr-usr-info h3 {
    font-size: 1.1em;
    margin-bottom: .4em; }
  .twtr-usr-info h4 {
    font-size: 1.4em; }
    .twtr-usr-info h4 a {
      text-decoration: none;
      color: white; }
  .twtr-usr-info img {
    position: absolute;
    top: 10px;
    left: 10px; }

.twtr-tweet-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border-left: solid 1px #dddddd;
  border-right: solid 1px #dddddd; }
  .twtr-tweet-list li {
    padding: 5px;
    margin: 0;
    border-bottom: solid 1px #dddddd;
    overflow: hidden; }
    .twtr-tweet-list li cite {
      display: block;
      margin: 0 0 6px; }
    .twtr-tweet-list li p {
      margin: 0 0 .4em;
      line-height: 1.2em; }
    .twtr-tweet-list li a {
      color: #21bf75;
      text-decoration: none; }

.twtr-action-links {
  float: right;
  font-size: .85em; }
  .twtr-action-links a {
    padding: 0 2px 0 6px;
    position: relative; }
  .twtr-action-links a:before {
    content: "-";
    position: absolute;
    left: 0;
    top: 0; }
  .twtr-action-links a:first-child:before {
    content: " "; }

.twtr-tweet-date {
  font-size: .85em;
  color: #999; }

.twtr-tweet-avatar {
  display: block;
  float: left;
  margin: 0 5px 2px 0; }
